{erl_opts, [debug_info]}.
{deps, [
    {grisp, {git, "https://github.com/grisp/grisp", {branch, "master"}}},
    grisp_cryptoauth,
    {epmd, {git, "https://github.com/erlang/epmd", {ref, "4d1a59"}}},
    {blas, {git, "https://github.com/erlef/blas", {branch, "lapack"}}}
]}.

{plugins, [rebar3_grisp]}.
% {shell_hooks_env, [{"GRISP", "lol"}]}.


{grisp, [
    {otp, [
        {version, "27.2.4"}
    ]},
    {build, [
        {toolchain, [{docker, "grisp/grisp-toolchain:latest"}]}
    ]},

    {deploy, [
        {pre_script, "mkdir -p deploy"},
        {destination, "deploy"}
    ]}
]}.

{shell, [
    % {config, "config/sys.config"},
    {apps, []}
]}.

{relx, [
    {release, {blas_validation, "0.1.0"}, [blas_validation,{epmd, none}, sasl]}
]}.
